body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.code-snippet, .droppable {
    width: 300px;
    height: auto;
    background-color: #ffffff;
    border: 2px solid #cccccc;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.droppable {
    background-color: #e8f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px; /* Ajusta el alto mínimo para evitar que el texto se salga */
    font-size: 14px;  /* Ajusta el tamaño de la fuente para que quepa el texto */
    overflow: hidden; /* Si el texto es muy largo, lo ocultamos o lo manejamos de otra manera */
    word-wrap: break-word; /* Permite que las palabras largas se rompan a la siguiente línea */
}

.draggable {
    background-color: #bbdefb;
    cursor: grab;
    margin: 10px 0;
}

.droppable:hover {
    border-color: #66bb6a;
    background-color: #c8e6c9;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #42a5f5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1e88e5;
}
